---
layout: default
---

<main class="main">
    <section class="blog-post-detail section">
        <div class="container">
            <h1 class="blog-post-detail__title section__title">{{ page.title }}</h1>
            
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="project-details__img" style="max-width: 100%; height: auto; margin-bottom: 1rem;">

            <div class="project-details__data" style="margin-bottom: 2rem;">
                <p class="project-details__description">{{ page.description }}</p>
                {% if page.caption %}
                    <p class="project-details__caption">{{ page.caption }}</p>
                {% endif %}
                
                <a href="{{ page.github_link }}" class="button button--flex" target="_blank">
                    View on GitHub <i class="uil uil-github-alt button__icon"></i>
                </a>
            </div>

            <div class="blog-post-content">
                {{ content }}
            </div>
        </div>
    </section>
</main>
